@forward "~attractions/_variables" with (
  $font: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif,
);
body {
  margin: 0;
  padding: 0;
}
